<!-- Header -->
<header id="header">
  <div class="inner">

    <!-- Logo -->
      <a href="/" class="logo"><img style="max-height:60px;" src="/images/mazon-logo.png" alt="Mazon IO" />
      </a>

    <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>

  </div>
</header>

<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/income/">Income by IP Address</a></li>
    <li><a href="/weather/">Weather by IP Address</a></li>
    <li><a target="_blank" href="https://market.mashape.com/textapi/textapi/">Natural Language Processing</a></li>
    <li><a href="/location-profile/">Location Profile</a></li>
  </ul>
</nav>